html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

/* Reusable Component - Image Container */
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

@media (max-width: 900px) {
  .navContent {
    margin: 50px 70px 0px 0px;
  }

  .brief p {
    padding: 10px 50px;
  }

  .service {
    height: 570px;
  }

  .service .image {
    width: 90%;
  }

  .service .details{
    text-align: center;
    width: 90%;
  }

  .service p {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 530px) {
  .navLogo{
    width: 100%;
    text-align: center;
  }

  .logo{
    width: 10%;
    float: center;
  }

  .navContent{
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  main {
    top: 70px;
  }

  main h1 {
    font-size: 50px;
  }

  .jumbotron {
    height: 400px;
  }

  .brief p {
    padding: 10px 50px;
  }

  .serviceList {
    margin-bottom: 100px;
  }

  .service {
    height: 400px;
  }

  footer {
    height: 330px;
  }

  footer .row {
    display: block;
  }

  footer section {
    width: 100%;
  }

  footer .group {
    margin: 10px;
    text-align: center;
  }

  hr {
    margin: 30px 20px 0px 20px;
  }
}

@media (max-width: 350px) {
  main h1 {
    font-size: 20px;
  }

  .serviceList {
    margin-bottom: 200px;
  }

  .service {
    height: 300px;
  }

  footer {
    height: 60%;
  }

  .social-icons a{
    line-height:30px;
    width:30px;
    height:30px;
  }
}
