.jumbotron {
  height: 450px;
  background-image: url("./background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  text-align: center;
  position: relative;
  top: 100px;
}

main h1 {
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  padding-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.header{
  padding-top: 140px;
}