.desktopNav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navLogo {
  float: left;
  width: 35%;
}

.logo{
  width: 30%;
  vertical-align: middle;
  margin: 0;
}

.navContent {
  /*position: absolute;
  right: 0;*/
  float: right;
  margin: 50px 90px 0px 0px;
  padding: 5px 0;
}

.navItem{
  color: #000;
  margin: 20px;
  text-decoration: none;
}

.navItem:hover{
  opacity: 0.5;
}

.language{
  text-decoration: none;
  position: absolute;
  top: 5px;
  right: 15px;
}

.language span {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight:600;
  font-size: 11px;
  color: #000;
}

.language span:hover {
  opacity: 0.7;
}